<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gestionnaire de promotions</title>
</head>
<body>
  <h1>Liste des promos</h1>

  <ul>
    <% promos.forEach((promo) => { %>
      <li><%= promo.name %></li>
    <% }) %>
  </ul>
</body>
</html>