<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gestionnaire de promotions</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Liste des promos</h1>

  <form action="/promos" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" />
    <input type="submit" />
  </form>

  <ul>
    <% promos.forEach((promo) => { %>
      <li><a href="<%= "/promos/1" %>"><%= promo.name %></a></li>
    <% }) %>
  </ul>
</body>
</html>