<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <ul>
    <% if (user) { %>
      <li><%= `Connecté en tant que ${user.name} @${user.username}` %></li>
      <li><a href="/logout">Se déconnecter</a></li>
    <% } else { %>
      <li><a href="/login">Se connecter</a></li>
      <li><a href="/signup">S'inscrire</a></li>
    <% } %>
  </ul>
  <h1><%= promoName %></h1>
  <ul>
    <% students.forEach((student) => { %>
      <li><%= `${student.first_name} ${student.last_name}` %></a></li>
    <% }) %>
  </ul>
</body>
</html>